.port_con {
    max-width: 1170px;
    height: 900px;
    margin: 0 auto;
    overflow: hidden;

    & .port_title {
        margin-top: 45px;
        text-align: center;
        font-size: 32px;
        font-weight: bold;
    }

    & .port_list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;

        & .port_items {
            margin-top: 40px;

            & img {
                width: 300px;
                height: 300px;
                border-radius: 20px;
                object-fit: cover;
            }

            & p {
                font-size: 16px;
                font-weight: bold;
                margin: 10px 0;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .port_con {
        height: auto;
        margin: 30px 0;

        & .port_list {
            grid-template-columns: 1fr;
            justify-items: center;
            padding: 20px;

            & .port_items {
                width: 100%;

                & img {
                    width: 100%;
                }
            }
        }
    }
}